# Dependencies
**/node_modules/

# Environment files
**/.env

#Build output
client/dist/
build/

# Logs
*.log

#Uploads
server/uploads/*
!server/uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db

# VS Code settings 
.vscode/